*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables */

html {
  --main-font-color: #fff;
  --main-background-color: #000;
  --highlight-color: #ffa900;
  --highlight-hover-color: #ffe2a9;

  --button-background-color: #000;
  --button-text-color: #fff;
  --button-hover-text-color: #fff;
  --button-hover-background-color: #ffa900;
  --button-border-color: #ffa900;
  --button-hover-border-color: #ffa900;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  transition-property: color, background-color, border;
  transition-duration: 0.2s;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
}

.navigation-section {
  height: 100%;
  margin-left: 10px;
}

.flex-container {
  display: flex;
}

.nav-item {
  padding: 0 20px;

}

.nav-item h2 {
  list-style-type: none;
  padding: 2%;
  color: var(--main-font-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  cursor: pointer;
  font-size: 2rem;
}

.nav-item h2:hover {
  color: var(--highlight-color);
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.dark-mode-switch {
  margin-left: auto;
  cursor: pointer;
}

.dark-mode-image {
  height: 20px;
}

#linked-in-icon {
  height: 20px;
  cursor: pointer;
}

.site-heading {
  font-size: max(2em);
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  text-align: center;
}

.highlighted {
  color: var(--highlight-color);
}

a .highlighted:hover {
  color: var(--highlight-hover-color);
}

.about-title {
  text-align: right;
  font-size: 2em;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  margin: 0;
  width: 300px;
  align-self: start;
}

.about-image {
  border-radius: 15%;
  height: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

.about-description {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  color: var(--main-font-color);
  margin-top: 20px;
}

.portfolio-section {
  margin: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio-preview-container {
  width: 500px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
  margin: 20px;
  border: 1px #000 solid;
  margin-bottom: 10%;
}

.portfolio-preview-container-mobile {
  width: 500px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
  margin: 20px;
  border: 1px #000 solid;
  margin-bottom: 10%;
}

.nc-preview {
  background-image: url('../images/nc-news-1.jpg');
}

.bd-preview {
  background-image: url('../images/beatdrop-image.jpg');
}

.ws-preview {
  background-image: url('../images/worth-starting-preview.jpg');
}

.vtd-preview {
  background-image: url('../images/vue-to-do-image.png');
}

.cs-preview {
  background-image: url('../images/chat-space-image.png');
}

.portfolio-preview-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2%;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s linear;
  cursor: pointer;
}

.portfolio-preview-overlay-mobile {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2%;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  cursor: pointer;
}

.portfolio-preview-overlay-mobile.nc-mobile,
.portfolio-preview-overlay-mobile.bd-mobile,
.portfolio-preview-overlay-mobile.ws-mobile,
.portfolio-preview-overlay-mobile.vtd-mobile {
  background-color: rgb(255, 255, 255);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.project-preview-description {
  font-family: 'Roboto', sans-serif;

  font-size: 2rem;
  font-weight: 300;
  color: #000;
  margin: 20px;
  text-align: center;
  line-height: 1.8;
}

.tech-stack-container {
  height: 30%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.tech-stack-icon {
  height: 50%;
  padding: 4px;
}

.project-preview-sub-container {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.project-preview-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-container {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-container img {
  width: 100px;
  height: 100px;
}

.link-container a {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: var(--main-font-color);
}

.link-container img:hover {
  background-color: var(--highlight-color);
  border-radius: 50%;
  box-shadow: 0 0 10px 4px var(--highlight-hover-color);
}

.only-mobile {
  display: none;
}

@media only screen and (max-width: 1230px) {
  .only-mobile {
    display: none;
  }

  .portfolio-preview-container {
    width: 400px;
    height: 240px;
  }

  .portfolio-preview-container-mobile {
    display: none;
    width: 400px;
    height: 240px;
  }

  .project-preview-description {
    font-size: 1.5rem;
  }

  .link-container a {
    font-size: 1.2em;
  }

  .link-container img {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 1000px) {
  .only-mobile {
    display: none;
  }

  .portfolio-preview-container {
    width: 300px;
    height: 180px;
  }

  .portfolio-preview-container-mobile {
    display: none;
    width: 300px;
    height: 180px;
  }

  .project-preview-description {
    font-size: 1rem;
  }

  .about-description,
  .portfolio-description {
    font-size: 1.6rem;
    text-align: center;
  }

  .link-container a {
    font-size: 1.1em;
  }

  .link-container img {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 640px) {
  .only-mobile {
    display: block;
  }

  .nav-item h2 {
    font-size: 1.4rem;
  }

  .portfolio-preview-container {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }

  .portfolio-preview-container-mobile {
    margin-top: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .portfolio-preview-overlay {
    display: none;
  }

  .portfolio-preview-overlay-mobile {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .project-preview-sub-container {
    gap: 20px;
  }

  .portfolio-description {
    font-size: 1.4rem;
    text-align: center;
  }

  .about-description,
  .portfolio-description {
    font-size: 1.4rem;
    text-align: center;
  }

  .link-container a {
    font-size: 1em;
  }

  .link-container img {
    width: 60px;
    height: 60px;
  }
}