.portfolio-section {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}

#nc-news {
  /* background-color: var(--nc-news-background); */
  padding: 5%;
}
#beatdrop {
  /* background-color: var(--beatdrop-background); */
  padding: 5%;
}
#worth-starting {
  /* background-color: var(--worth-starting-background); */
  padding: 5%;
}
.project-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project-image {
  height: 280px;
  border-radius: 6px;
  border: 1px black solid;
}

.project-intro-container {
  display: flex;
  flex-direction: column;
  width: 60%;

  padding-right: 20px;
}

.project-title {
  font-size: 4rem;
  margin-top: 0;
}

.project-subtitle {
  font-size: 2rem;
  margin-top: 0;
}
.project-description-text {
  margin-top: 0;
  font-size: 1.6rem;
  line-height: 1.5;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.link-image {
  height: 140px;
}

.project-link-title {
  font-size: 2rem;
}

@media only screen and (max-width: 1260px) {
  .project-image {
  }
  .project-intro-container {
    width: 50%;
  }
}
@media only screen and (max-width: 1060px) {
  .project-image {
    order: 1;
    height: 300px;
    margin-bottom: 40px;
  }
  .project-intro-container {
    width: 100%;
    order: 2;
  }

  .project-title-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 540px) {
  .project-image {
    height: 180px;
    margin-bottom: 30px;
  }
  .project-title {
    font-size: 2rem;
    margin-top: 0;
  }

  .project-subtitle {
    font-size: 1.4rem;
    margin-top: 0;
  }
  .portfolio-section {
    text-align: center;
  }

  .link-image {
    height: 100px;
  }
  .project-link-title {
    font-size: 1.2rem;
  }

  .project-description-text {
    font-size: 1.2rem;
  }
}
